//!------------Variables------------

//!------------------------------------

//?------------mixin------------

//?------------------------------------

//?------------fonts------------

@import "fonts";

//*Default font:
$font_family: "";
//?------------------------------------

//*------------styles------------
@import "reset";
@import "header";
@import "footer";
//*------------------------------------

//TODO------------workplace------------
//*------------wrapper------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//*---------------------------------------

//TODO------------------------------------
